mixin mensagem(flag)
  li.Box
    .Flag
      .Flag-figure
        img(src='img/avatar.jpg' height=40)
      .Flag-body
        if flag
          span.label.label-info.pull-right NOVO
        strong Nova mensagem
        .small: em 1 min atrás

ul.dropdown-menu
  li.Box.Segment.Segments
    div: strong Mensagens
    .progress.progress--thin.progress--light
      .progress-bar.progress-bar-success(
        role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%'
      )
        span.sr-only 40% Completo (sucesso)

  +mensagem(true)
  +mensagem(true)
  +mensagem()
  +mensagem()
  +mensagem()
  +mensagem()

  li.dropdown-menu-footer.text-center
    a(href='#') Ver todas as mensagens
