.graph
  h1 Timeline
  .timeline
 
    .timeslot
      .task
        span
          span.type Andamento
          span.details
            | Editado ["Categoria do trabalho"]  
          span
            | Roberta
            span.remaining
              | 17:53
        .arrow
      .icon
        i.fa.fa-clock-o
      .time
        | 27/09/2016

    .clearfix

    .timeslot.alt
      .task
        span
          span.type Checkpoint
          span.details
            |  criação da identidade visual
          span
            | Roberta
            span.remaining
              | 15:46
        .arrow
      .icon
        i.fa.fa-map-marker
      .time
        | 26/09/2016

    .timeslot
      .task
        span
          span.type mail
          span.details
            | Lukasz Holeczek
          span
            | remaining time
            span.remaining
              | 3h 38m 15s
        .arrow
      .icon
        i.fa.fa-envelope
      .time
        | 3:43 PM

    .timeslot.alt
      .task
        span
          span.type deadline
          span.details
            | Fixed PayPal problems
          span
            | remaining time
            span.remaining
              | 3h 38m 15s
        .arrow
      .icon
        i.fa.fa-calendar
      .time
        | 3:43 PM

    .timeslot
      .task
        span
          span.type appointment
          span.details
            | Lukasz Holeczek at creativeLabs HQ
          span
            | remaining time
            span.remaining
              | 3h 38m 15s
        .arrow
      .icon
        i.fa.fa-map-marker
      .time
        | 3:43 PM
        
    .clearfix

    .timeslot.alt
      .task
        span
          span.type skype call
          span.details
            | Lukasz Holeczek
          span
            | remaining time
            span.remaining
              | 3h 38m 15s
        .arrow
      .icon
        i.fa.fa-phone
      .time
        | 3:43 PM

    .timeslot
      .task
        span
          span.type mail
          span.details
            | Lukasz Holeczek
          span
            | remaining time
            span.remaining
              | 3h 38m 15s
        .arrow
      .icon
        i.fa.fa-envelope
      .time
        | 3:43 PM

    .timeslot.alt
      .task
        span
          span.type project deadline
          span.details
            | Fixed PayPal problems
          span
            | remaining time
            span.remaining
              | 3h 38m 15s
        .arrow
      .icon
        i.fa.fa-calendar
      .time
        | 3:43 PM

    .timeslot
      .task
        span
          span.type mail
          span.details
            | Lukasz Holeczek
          span
            | remaining time
            span.remaining
              | 3h 38m 15s
        .arrow
      .icon
        i.fa.fa-envelope
      .time
        | 3:43 PM
