@import "vendors/bootstrap";
@import "vendors/senado";

@import "utils/variables";
@import "utils/cosmetic";
@import "utils/text";

@import "layout/content";

@import "componentes/navbar";
@import "componentes/sidebar";
@import "componentes/advance-layout";

@import "tweaks/styles";

@import "ext/bootstrap/badge";
@import "ext/bootstrap/progress";
@import "ext/bootstrap/label";
@import "ext/bootstrap/dropdown-menu";
@import "ext/bootstrap/navbar";
@import "ext/bootstrap/navbar-action";

@import "font-awesome/font-awesome";

@c1: #233f5f;
@c2: #fe5f55;
@c3: #d6d1b1;
@c4: #f7f7f7;
@c5: #eef5db;

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
}

  aside {
    background: @c1;
  }

  main {
    background: @c4;
    flex: auto;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

article {
  flex: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.ArrangeFlex {
  display: flex;
  flex-direction: row;
}

  .ArrangeFlex--middle {
    align-items: center;
    justify-content: center;
  }


  .ArrangeFlex-sizeFill {
    flex: auto;
  }
