.Sidebar-menu {
  height: 0;
  display: block!important;
  overflow: hidden;

  &.in {
    height: auto;
  }
  .SubMenu-label {
    display: none;
  }
}

.Sidebar--compact {

  .SubMenu-link .SubMenu-label {
    display: none;
  }

  .Sidebar-menu .SubMenu-label {
    display: block;
  }

  .Sidebar-menu {
    position: absolute;
    left: 100%;
    top: 0;

    border: none;
    min-width: 200px;
    z-index: 1020;

    &.collapsing {
      transition: none;
    }
  }
}
