//////////////////////////////// SIDEBAR Functions
.focused {
  &:focus, &:active, &:hover {
    background-color: #1a2e46;
    color: #fff;
  }
}
//////////////////////////////// Menu collapsed + And Menu collapse -  
.more {
  &:before {
    content: '\f067';
    position: absolute;
    right: 20px;
    top: 10px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1.7;
  }
}
.more[aria-expanded="true"] {
  &:before {
    content: '\f068';
  }
}
//////////////////////////////// SIDEBAR
.MenuTitulo {
  background-color:#233f5f;
  color: #fff;
  cursor: pointer;
  &[aria-expanded="true"] {
    background-color: #1a2e46;
  }
}
.Sidebar {
  width: 240px;
}
.Sidebar--Header {
  box-shadow: 0 3px 1px -1px rgba(3, 6, 9, 0.05);
  border-bottom: 1px solid #1a2e46;
  padding: 10px 15px;
}
.Sidebar-menu {
  height: 0;
  display: block!important;
  overflow: hidden;

  &.in {
    height: auto;
    background-color: #1a2e46;
  }
  .Sidebar-menuLabel {
    display: none;
  }
}

.Sidebar-Defaultlink {
  color: #fff;
  &:hover {
    color: #E3EAEE;
  }
}
.Sidebar-menuLink, {
  .focused;
}
.Sidebar--btn {
  background-color: transparent;
  .focused;
}


//////////////////////////////// SIDEBAR COMPACT



.Sidebar--compact {
  .Sidebar--compact-icon {
    display: none;
  }
  .more {
    &:before {
      display: none;
    }
  }
  .MenuTitulo[aria-expanded="true"]  {
    background-color: transparent;
  }
  .Icon--Header {
      font-size: 29px;
  }
  .Sidebar--Header {
    padding: 15.5px 15px;
  }
  .Sidebar--Controlflag {
    .Sidebar--FlagfigureCompact {
      padding-right: 0;
    }
    .Sidebar--Flagbody {
      display: none;
    }
  }
  width: auto;
  .Sidebar-menuLink .Sidebar-menuLabel {
    display: none;
  }
  .Sidebar-menu .Sidebar-menuLabel {
    display: block;
  }

  .Sidebar-menu {
    position: absolute;
    left: 100%;
    top: 12%;

    border: none;
    min-width: 200px;
    z-index: 1020;

    &.collapsing {
      transition: none;
    }
  }
}
