extends ../node_modules/design.shell/app/layout

block content

  .container
    .row
      .col-xs-12
        form
          table.table.table-hover
            thead
              tr
                th #
                th First Name
                th Last Name
                th Username
            tbody
              tr
                th(scope='row') 1
                td Mark
                td Otto
                td @mdo
              tr
                th(scope='row') 2
                td Jacob
                td Thornton
                td @fat
              tr
                th(scope='row') 3
                td Larry
                td the Bird
                td @twitter
              tr(style='background:red')
                td(colspan='2') 
                  .form-group
                    label(for='exampleInputEmail1') Email address
                    input#exampleInputEmail1.form-control(type='email', placeholder='Email')
                  .form-group
                    label(for='exampleInputEmail11') Email address
                    input#exampleInputEmail11.form-control(type='email', placeholder='Email')
                td(colspan='2') 
                  .form-group
                    label(for='exampleInputEmail12') Email address
                    textarea#exampleInputEmail12.form-control(style='height:108px;', placeholder='Email')