include sidebar-sf
include navbar
.content-sf(role='conteudo')
  .container-fluid
    .row
      .col-md-12
        ol.breadcrumb.breadcrumb-sf
          li
            a(href='#') Página inicial
          li
            a(href='#') Library
          li.active Vídeos
      .col-md-12
        .panel.panel-sf.panel-default
          .panel-heading
            h2
              i.fa.fa-video-camera
              span.break
              | Vídeos
            .panel-actions
              a.btn-minimize(href='#collapse-box' data-toggle="collapse")

          .panel-body#collapse-box.in
            .row.videos-sf
              .col-lg-3.col-md-4.col-xs-6
                a(href='video.html')
                  img.img-responsive.thumbnail(src='img/thumbs.png', alt='1')
                  .caption
                    p 63117 Novo CPC
                    small 8/3/2010 12/04/2016
              .col-lg-3.col-md-4.col-xs-6
                a(href='video.html')
                  img.img-responsive.thumbnail(src='img/thumbs.png', alt='2')
                  .caption
                    p 63117 Novo CPC
                    small 8/3/2010 12/04/2016
              .col-lg-3.col-md-4.col-xs-6
                a(href='video.html')
                  img.img-responsive.thumbnail(src='img/thumbs.png', alt='3')
                  .caption
                    p 63117 Novo CPC
                    small 8/3/2010 12/04/2016
              .col-lg-3.col-md-4.col-xs-6
                a(href='video.html')
                  img.img-responsive.thumbnail(src='img/thumbs.png', alt='4')
                  .caption
                    p 63117 Novo CPC
                    small 8/3/2010 12/04/2016
              .col-lg-3.col-md-4.col-xs-6
                a(href='video.html')
                  img.img-responsive.thumbnail(src='img/thumbs.png', alt='5')
                  .caption
                    p 63117 Novo CPC
                    small 8/3/2010 12/04/2016
              .col-lg-3.col-md-4.col-xs-6
                a(href='video.html')
                  img.img-responsive.thumbnail(src='img/thumbs.png', alt='6')
                  .caption
                    p 63117 Novo CPC
                    small 8/3/2010 12/04/2016
              .col-lg-3.col-md-4.col-xs-6
                a(href='video.html')
                  img.img-responsive.thumbnail(src='img/thumbs.png', alt='7')
                  .caption
                    p 63117 Novo CPC
                    small 8/3/2010 12/04/2016
              .col-lg-3.col-md-4.col-xs-6
                a(href='video.html')
                  img.img-responsive.thumbnail(src='img/thumbs.png', alt='8')
                  .caption
                    p 63117 Novo CPC
                    small 8/3/2010 12/04/2016
              .col-lg-3.col-md-4.col-xs-6
                a(href='video.html')
                  img.img-responsive.thumbnail(src='img/thumbs.png', alt='9')
                  .caption
                    p 63117 Novo CPC
                    small 8/3/2010 12/04/2016
              .col-lg-3.col-md-4.col-xs-6
                a(href='video.html')
                  img.img-responsive.thumbnail(src='img/thumbs.png', alt='10')
                  .caption
                    p 63117 Novo CPC
                    small 8/3/2010 12/04/2016
