script(src='jquery/dist/jquery.min.js')
script(src='bootstrap/dist/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js')
script(src='scripts/layout.js')
script(src='scripts/jquery-sortable.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.4/tinymce.min.js')