.navbar.navbar-sf(role='navigation')
  .container-fluid

    ul.nav.navbar-nav.navbar-actions.navbar-left
      li: a#main-menu-toggle(href='#')
        i.fa.fa-bars

    form.navbar-form.navbar-left
      i.fa.fa-search
      input.form-control(type='text', placeholder='Procurar...')

    ul.nav.navbar-nav.navbar-right
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          img(src='img/flags/BRA.png', style='height:18px; margin-top:-2px;padding:0 7px')
        ul.teste.dropdown-menu
          li
            a(href='#')
              img(src='img/flags/BRA.png', style='height:18px; margin-top:-2px;')
              |  Brasil
          li
            a(href='#')
              img(src='img/flags/USA.png', style='height:18px; margin-top:-2px;')
              |  US
          li
            a(href='#')
              img(src='img/flags/Spain.png', style='height:18px; margin-top:-2px;')
              |  Spanish
          li
            a(href='#')
              img(src='img/flags/Germany.png', style='height:18px; margin-top:-2px;')
              |  German
          li
            a(href='#')
              img(src='img/flags/Poland.png', style='height:18px; margin-top:-2px;')
              |  Polish

      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.fa.fa-comments-o
          span.badge 4
        include partials/mensagens

      li
        a(href='#')
          i.fa.fa-cog
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.fa.fa-wrench
          span.badge !
        ul.dropdown-menu
          li.dropdown-menu-header.text-center
            strong Conta
          li
            a(href='#')
              i.fa.fa-bell-o
              |  Updates
              span.label.label-info 42
          li
            a(href='#')
              i.fa.fa-envelope-o
              |  Mensagens
              span.label.label-success 42
          li
            a(href='#')
              i.fa.fa-tasks
              |  Tarefas
              span.label.label-danger 42
          li
            a(href='#')
              i.fa.fa-comments
              |  Comentários
              span.label.label-warning 42
          li.dropdown-menu-header.text-center
            strong Settings
          li
            a(href='#')
              i.fa.fa-user
              |  Profile
          li
            a(href='#')
              i.fa.fa-wrench
              |  Configurações
          li
            a(href='#')
              i.fa.fa-usd
              |  Pagamentos
              span.label.label-default 42
          li
            a(href='#')
              i.fa.fa-file
              |  Projetos
              span.label.label-primary 42
          li.divider
          li
            a(href='#')
              i.fa.fa-shield
              |  Bloquear Perfil
          li
            a(href='#')
              i.fa.fa-lock
              |  Logout
      li
        a(href='#')
          i.fa.fa-power-off

