.AdvancedLayout-bar.Sidebar.is-open

  mixin Item(text, icon)
    a.Menu-item(role='button')&attributes(attributes)
      if icon
        .Menu-icon: i.fa(aria-hidden='true' class="fa-#{icon}")
      .Menu-text  #{text}

  .Sidebar-header.Box.Box--x
    .Flag
      .Flag-figure.Sidebar-iconSize--Large
        .fa.fa-pencil-square-o
      .Flag-body
        | Central de Pautas e Produção jornalistica
      .Flag-figure.Sidebar-iconSize--Medium
        i.fa.fa-ellipsis-v

  .Sidebar-menu

    ul.Menu.Menu--out

      li
        +Item('Calendário', 'calendar')(href='#js-alpha', data-toggle='collapse')
        ul#js-alpha.nav.collapse.Menu-block
          li
            

      li
        +Item('Opções', 'paw')(href='#js-beta', data-toggle='collapse')
        ul#js-beta.Menu.collapse
          li: +Item('View One', 'picture-o')
          li: +Item('View Two', 'camera')
          li: +Item('View Three', 'coffee')

      li: +Item('Process Three', 'envelope-o')
      li: +Item('Process Four', 'eye')
