include sidebar-sf
include navbar
.content-sf(role='conteudo') 
  .container-fluid
    .row
      .col-md-12 
        ol.breadcrumb.breadcrumb-sf
          li
            a(href='#') Página inicial
          li
            a(href='#') Library
          li.active Vídeos
      .col-md-12
        .panel.panel-default
          .panel-heading
            h2
              i.fa.fa-video-camera
              span.break
              | Vídeos
            .panel-actions
              a.btn-minimize(href='#collapse-box' data-toggle="collapse")

          .panel-body#collapse-box.in
            .embed-responsive.embed-responsive-16by9.u-spacer--xl
              iframe.embed-responsive-item(src='//www.youtube.com/embed/zpOULjyy-n8?rel=0', allowfullscreen='')
            .table-responsive
              table.table-sf.table.table-hover
                thead
                  tr
                    th Thumb
                    th Hora
                    th Critério
                    th Orador
                    th Descrição
                    th Downloads
                tbody
                  tr
                    td 
                      img.img-responsive(src='img/thumbs.png' style='width:60px')
                    td 12:47
                    td Abertura
                    td 
                    td Presidente Senador Telmário Mota (PDT-PR) declara abertura a reunião às 19h41. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    td 
                      a(data-toggle='tooltip' href='#' title='Download Vídeo') 
                        span.glyphicon.glyphicon-facetime-video &nbsp;
                      a(data-toggle='tooltip' href='#' title='Download Aúdio') 
                        span.glyphicon.glyphicon-volume-up
                  tr
                    td 
                      img.img-responsive(src='img/thumbs.png' style='width:60px')
                    td 12:47
                    td Abertura
                    td 
                    td Presidente Senador Telmário Mota (PDT-PR) declara abertura a reunião às 19h41. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    td 
                      a(data-toggle='tooltip' href='#' title='Download Vídeo') 
                        span.glyphicon.glyphicon-facetime-video &nbsp;
                      a(data-toggle='tooltip' href='#' title='Download Aúdio') 
                        span.glyphicon.glyphicon-volume-up
                  tr
                    td 
                      img.img-responsive(src='img/thumbs.png' style='width:60px')
                    td 12:47
                    td Abertura
                    td 
                    td Presidente Senador Telmário Mota (PDT-PR) declara abertura a reunião às 19h41. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    td 
                      a(data-toggle='tooltip' href='#' title='Download Vídeo') 
                        span.glyphicon.glyphicon-facetime-video &nbsp;
                      a(data-toggle='tooltip' href='#' title='Download Aúdio') 
                        span.glyphicon.glyphicon-volume-up

