@import "vendors/bootstrap";
@import "vendors/senado";
@import "vendors/fa";

@import "utils/variables";
@import "utils/cosmetic";
@import "utils/text";

@import "layout/content";

@import "componentes/navbar";
@import "componentes/sidebar";
@import "componentes/advance-layout";
@import "componentes/btn-turn";
@import "componentes/timeLine";
@import "componentes/arrangeFlex";
@import "componentes/toggle";
@import "componentes/s-btn";

@import "tweaks/styles";
@import "tweaks/icomoon";

@import "ext/bootstrap/badge";
@import "ext/bootstrap/progress";
@import "ext/bootstrap/label";
@import "ext/bootstrap/dropdown-menu";
@import "ext/bootstrap/navbar";

@media screen and (max-width: 768px) {
table {width:100%;}
thead {display: none;}
tr:nth-of-type(2n) {background-color: inherit;}
tr td:first-child {background: #f0f0f0; font-weight:bold;font-size:1.3em;}
tr td {position: relative;}
tbody td {display: block;  text-align:center;}
tbody td:before { 
    content: attr(data-th); 
    display: block;
    text-align:center;  
  }
}